* {
    box-sizing: border-box;
}

header {
    background: #16c0a1;
    height: 66px;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 9px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #075746ef;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}


header ul li a {
    display: block;
    padding: 21px;
    font-family: 'Lora', serif;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #075746ef;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}
