* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Candal', serif;
    color: #444;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.far {
    font-size: 60%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: #075746ef;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    font-family: 'Lora', serif;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: 'Lora', serif;
}

header {
    background: #075746ef;
    height: 66px;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 9px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #11f1c1ef;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}


header ul li a {
    display: block;
    padding: 21.6px;
    font-family: 'Lora', serif;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #09715aef;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

.content {
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content { 
    width: 70%;
    float: left;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border-radius: 0px;
    color: #075746ef;
}

.content .main-content .post .read-more:hover {
    background: #075746ef;
    color: white;
    transition: .25s;
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;    
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .recent-post-title {
    margin: 20px;
}

.content .main-content .pagination {
    
    text-align: center;
    padding: 10px;
}

.content .main-content .pagination .page-numbers:hover{
    background: #075746ef;
    color: white;
    transition: .25s;
}

.content .sidebar {
    width: 30%;
    float: left;
    height: 300px;
}

.content .sidebar .section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;   
}

.content .sidebar .section.search {
    margin-top: 80px;
}

.content .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.content .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.auth-content {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.auth-content .form-title {
    text-align: center;
}

.auth-content form div {
    margin-bottom: 10px;
}

.auth-content form p {
    text-align: center;
}

.auth-content form p a {
    text-decoration: underline;
}